*{
    margin:0;
    padding:0;
    
}
body{
   background: linear-gradient(45deg,rgba(61, 27, 27, 0.856)20%,rgba(102, 56, 56, 0.856)60%,rgba(143, 81, 81, 0.856),rgba(189, 113, 113, 0.856));
   background-attachment: fixed;
}
section{
    width: 100vw;
    height: 100vh;
}
.header h1{
    
    font-size: 50px;
    color: rgb(245, 240, 240);
    
}
.header p{
    font-size: 18px;
    padding: 10px;
    color: rgb(235, 225, 225);
    padding: 10px;
    margin: 5px;
}
.header{
    text-align:center;
    padding: 20px;
}
.container{
    
    height:60vh;
    width:50vw;
    /* border:1px solid red; */
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:90%;
    width: 50%;
    /* border:1px solid yellow; */
    display: grid;
    grid-template-columns: auto auto auto;
} 
.box{
    height:100px;
    width:100px;
    border-radius:0.5em;
    /* border:1px solid black; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 0px;
    background-color: rgb(202, 158, 158);
    border: none;
    color: white;
    
}
.box:hover{
    box-shadow: 0px 6px 9px  rgb(48, 42, 42);
     /* background-color: rgb(77, 44, 44); */
}
.reset{
    text-align: center;
    margin: 5px auto 200px auto;
    
}
.reset button{
    padding:10px 35px;
    background-color: rgb(3, 185, 3);
    border:none;
    color: white;
    border-radius: 3px;
    font-size: 17px;
}
.reset button:hover{
    box-shadow: 0px 6px 9px  rgb(148, 124, 124);
}
@media screen and (max-width:1100px) {
    .game{
        width:70%;
    }
}
@media screen and (max-width:970px) {
    .game{
        width:80%;
    }
}
@media screen and (max-width:850px) {
    .container{
        width:60vw;
    }
}
@media screen and (max-width:710px) {
    .container{
        width:70vw;
    }
}
@media screen and (max-width:610px) {
    .game{
        width:90%;
    }
}
@media screen and (max-width:540px) {
    .game{
        width:100%;
    }
    .header h1{
        font-size: 40px;
    }
    
}
@media screen and (max-width:490px) {
    .box{
        width:85px;
        height:85px;
        margin:0px 5px 10px 0px
    }
    .game{
        height: 70%;
        width:85%;
    }
    .container{
        height: 55vh;
    }
}
@media screen and (max-width:440px) {
    .game{
        width:90%;
        height: 100%;
    }
    .container{
        height: 40vh;
    }
    .reset{
        margin-top: 20px;
    }
    .card{
        height: 180px;
        width: 180px;
    }
    .card button{
        transform: translate(-48px,0px);
        font-size: 12px;
    } 
    
}
@media screen and (max-width:420px) {
    .game{
        width:100%;
    }
}
@media screen and (max-width:340px) {
    .container{
        height:50vh;
        width:90vw;
    }
}
.card{
    width:250px;
    height:250px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border: none;
    position: relative;
}
.card img{
    height: 100px;
    width:100px;
    /* border-radius: 50%; */
    /* box-shadow:5px  10px 5px 0px rgb(73, 72, 72); */
    margin-top: -77px;
}
.card h1{
    margin: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: rgb(3, 185, 3);
}
.card h2{
    padding: 20px;
    font-weight: 800;
    font-family: 'roboto',sans-serif;
    color: rgb(184, 142, 3);
}
.card button{
    position: absolute;
    top:220px;
    padding: 10px 20px;
    left: auto;
    right: auto;
    transform: translate(-48px,0px);
    background-color: rgb(3, 185, 3);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
.card button:hover{
    box-shadow: 0px 6px 9px rgb(82, 78, 78);
}
.novis{
    display: none;
}
.vis{
    display: block;
}
.shift{
    margin-top: -550px;
}
.blur{
    filter: blur(5px);
}